@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: "Lato", sans-serif;
    font-size:15px;
    height: 100%;
    width: 100%;
    font-size:16px;
    background-color: #ecf4fe;
}
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.noto-sans {
    font-family: "Noto Sans", sans-serif;
}

.select2-container--default .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #cbd5e1;
    background-color: #f8fafc;
    padding-top: 0.520rem;
    padding-bottom:0.520rem;
    border-radius: 7px;
}

.description p {
    color:#64748b
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 0;
}

#bar-fixed.stickIt {
    position: fixed;
    top: 0px;
}

.button-details {
    transition: opacity .2s, visibility .2s;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom:0;
    top:0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: rgb(0, 0, 0, .50);
}

.volatility-details {
    transition: opacity .2s, visibility .2s;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom:0;
    top:0;
    left: 0;
    right: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    border-radius: 8px;
    background-color: #f59e0b;
}

.button-details span {
    background-color: #f59e0b;
    color:#fff;
    padding:6px 12px;
    font-size:16px;
    border-radius: 4px;
}


.button-view span:hover {
    background:#d48700;
}

.box-container:hover .button-details, .volatility-container:hover .volatility-details {
    visibility: visible;
    opacity: 1;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet-active {
    background:#f59e0b;
}

.swiper-slide .swiper-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #f59e0b;
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: #f59e0b;
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

#modalAnimation {
    animation: modalanimation 0.2s forwards;
}

#zoomEffect {
    animation: zoomEffect 0.3s forwards;
}

#slideAnimation {
    animation: slideDown 0.5s;
}

.slideAnimation {
    animation: slideDown 0.5s;
}

#slideAnimationGames {
    animation: slideDownGames 0.4s;
}

@keyframes modalanimation{
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}

@keyframes zoomEffect{
    0% {
      transform: scale(0);
    }
    50% {
        transform: scale(1.1);
      }
    100% {
      transform: scale(1);
    }
}


@keyframes slideDown {
	0% {
		transform: translateY(0%);
	}
	50%{
		transform: translateY(8%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes slideDownGames {
	0% {
		transform: translateY(0%);
	}
	50%{
		transform: translateY(2%);
	}
	100% {
		transform: translateY(0%);
	}
}





.timeline{
	color:#fff;
	padding:0 20px;
}
.timeline ul{
	list-style-type:none;
	border-left:2px solid #e9eff7;
	padding:10px 5px;
}
.timeline ul li{
	padding:20px 20px;
	position:relative;
	cursor:pointer;
	transition:.5s;
}
.timeline ul li span{
	display:inline-block;
}
.timeline ul li .content h3{
	color:#34ace0;
	font-size:17px;
	padding-top:5px;
}
.timeline ul li .content p{
	padding:5px 0px 15px 0px;
	font-size:15px;
}
.timeline ul li:before{
	position:absolute;
	content:'';
	width:10px;
	height:10px;
	background-color:#ffc400;
	border-radius:50%;
	left:-11px;
	top:28px;
	transition:.5s;
}
/* .timeline ul li:hover{
	background-color:#071f2a;
} */
.timeline ul li:hover:before{
	background-color:rgb(255, 208, 0);
	box-shadow:0px 0px 10px 2px rgb(255, 230, 0);
}
@media (max-width:300px){
	.timeline{
		width:100%;
		padding:30px 5px 30px 10px;
	}
	.timeline ul li .content h3{
		color:#34ace0;
		font-size:15px;
	}

}
