@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-size:15px;
    height: 100%;
    width: 100%;
}

.roboto-slab {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

