@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: "Montserrat", sans-serif;
    font-size:15px;
    height: 100%;
    width: 100%;
    font-size:16px;
    scroll-behavior: smooth;
    /* background-color: #f6faff; */
    /* background-image: linear-gradient(to right top, #fffac7, #fffac1, #fff9ba, #fff9b4, #fff8ad, #fcf2a1, #faec95, #f8e689, #f3d975, #efcc62, #ebbf4f, #e7b23b);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.active_header {
    background-color: #f8fafc;
    /* padding:8px 16px; */
}

.active_text {
color:#475569;
}

.active_header img  {
    width: 140px;
}

.header_logo {
    width: 140px;
}

.counter {
    text-align: center;
    /* transition: .1s ease; */
    font-size: 14rem;
    color: red;
    font-weight: bold;
    font-family: sans-serif;
    padding: 0 0 30rem;
  }

.bg-dark-gradient {
  background-image: linear-gradient(to right bottom, #222c41, #1f283c, #1b2437, #182132, #151d2d, #141b2b, #121a29, #111827, #111827, #111827, #111827, #111827);
}

.fi {
    width: 30px!important;
    line-height: 28px;
    border-radius: 5px;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.youtube-container {
	overflow: hidden;
	width: 100%;
	aspect-ratio: 16/9;
	pointer-events: none;
	iframe {
		width: 300%;
		height: 100%;
		margin-left: -100%;
	}
}


.select2-container--default .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #cbd5e1;
    background-color: #f8fafc;
    padding-top: 0.520rem;
    padding-bottom:0.520rem;
    border-radius: 7px;
}

.description p {
    color:#64748b;
    white-space: break-spaces;
}

.description span {
    white-space: break-spaces;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 0;
}

#bar-fixed.stickIt {
    position: fixed;
    top: 0px;
}

.button-details {
    transition: opacity .2s, visibility .2s;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom:0;
    top:0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: rgb(0, 0, 0, .50);
}

.volatility-details {
    transition: opacity .2s, visibility .2s;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom:0;
    top:0;
    left: 0;
    right: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    border-radius: 20px;
    background-image: linear-gradient(#0284c7, #075985);
}

.button-details span {
    background-color: #f59e0b;
    color:#fff;
    padding:6px 12px;
    font-size:16px;
    border-radius: 4px;
}


.button-view span:hover {
    background:#075985;
}

.box-container:hover .button-details, .volatility-container:hover .volatility-details {
    visibility: visible;
    opacity: 1;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet-active {
    background:#f59e0b;
}

.swiper-slide .swiper-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f59e0b;
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: #f59e0b;
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

#modalAnimation {
    animation: modalanimation 0.2s forwards;
}

#zoomEffect {
    animation: zoomEffect 0.3s forwards;
}

#slideAnimation {
    animation: slideDown 0.5s;
}

.slideAnimation {
    animation: slideDown 0.5s;
}

#slideAnimationGames {
    animation: slideDownGames 0.4s;
}

@keyframes modalanimation{
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}

@keyframes zoomEffect{
    0% {
      transform: scale(0);
    }
    50% {
        transform: scale(1.1);
      }
    100% {
      transform: scale(1);
    }
}


@keyframes slideDown {
	0% {
		transform: translateY(0%);
	}
	50%{
		transform: translateY(8%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes slideDownGames {
	0% {
		transform: translateY(0%);
	}
	50%{
		transform: translateY(2%);
	}
	100% {
		transform: translateY(0%);
	}
}



.timeline{
	color:#fff;
	padding:0 20px;
}
.timeline ul{
	list-style-type:none;
	border-left:2px solid #e9eff7;
	padding:10px 5px;
}
.timeline ul li{
	padding:20px 20px;
	position:relative;
	cursor:pointer;
	transition:.5s;
}
.timeline ul li span{
	display:inline-block;
}
.timeline ul li .content h3{
	color:#34ace0;
	font-size:17px;
	padding-top:5px;
}
.timeline ul li .content p{
	padding:5px 0px 15px 0px;
	font-size:15px;
}
.timeline ul li:before{
	position:absolute;
	content:'';
	width:10px;
	height:10px;
	background-color:#ffc400;
	border-radius:50%;
	left:-11px;
	top:28px;
	transition:.5s;
}
/* .timeline ul li:hover{
	background-color:#071f2a;
} */
.timeline ul li:hover:before{
	background-color:rgb(255, 208, 0);
	box-shadow:0px 0px 10px 2px rgb(255, 230, 0);
}
@media (max-width:300px){
	.timeline{
		width:100%;
		padding:30px 5px 30px 10px;
	}
	.timeline ul li .content h3{
		color:#34ace0;
		font-size:15px;
	}

}
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #64758b;
    border-radius: 100%;
    /* background: #475569; */
}
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background-image: linear-gradient(#0284c7, #075985);
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
 }
 input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
 }
 input[type="radio"]:checked + label:after {
     opacity: 1;
     -webkit-transform: scale(1);
     transform: scale(1);
 }



 /* HERO TITLE ANIMATION */
 @keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

    30% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    40% {
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }

    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

  }

  .text-animation {
    animation: lights 5s 750ms linear infinite;
  }



  .swiper-pachi {
    width: 250px;
    height: 420px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 18px; */
    color: #fff;
  }



.gallery {
    display:flex;
  }

  .left {
      width:50%;
  }

  .detailsWrapper {
      margin:auto;
      width:80%;
  }

  .details {
      height:100vh;
      display:flex;
      flex-direction:column;
      justify-content:center;
  }


  .right {
      width:50%;
      height:100vh;
      display:flex;
      flex-direction:column;
      justify-content:center;
  }

  .photos {
      height:40vw;
      position:relative;
      display: flex;
      justify-content: center;
  }

  .photo {
      display: flex;
      align-items: center;
      position:absolute;
      width:100%;
      height:100%;
  }





  .main {
    display: flex;
    overflow: hidden;
    /* height: 50vw; */
    /* background: #333; */
  }

  .main img {
    max-width: 100%;
    vertical-align: middle;
    /* border: 2px solid white; */
    box-sizing: border-box;
    transition: opacity 0.2s;
  }

  .main:hover img {
    opacity: 0.5;
  }

  .main img:hover {
    opacity: 1;
  }

  .main .single-column {
    animation: var(--animation, none) 16s infinite linear;
  }

  .main .single-column:hover {
    animation-play-state: paused;
  }

  .main .single-column:nth-of-type(odd) {
    align-self: flex-end;
    --direction: 50%;
  }

  @-webkit-keyframes slide {
    to {
      -webkit-transform: translateY(var(--direction, -50%));
      transform: translateY(var(--direction, -50%));
    }
  }
  @keyframes slide {
    to {
      -webkit-transform: translateY(var(--direction, -50%));
      transform: translateY(var(--direction, -50%));
    }
  }


#main {
	position: relative;
	width: 100%;
	right:0;
	transition: all 0.5s ease;
	/* z-index: 2; */
}

body.show-sidebar #main {
	right: 50%;
}

#sidebar {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50%;
	height: 100vh;
    overflow-y:scroll;
    overflow-x:hidden;
    z-index: 1;
}

@media only screen and (max-width:840px) {
    #sidebar {
        width: 80%;
    }
    body.show-sidebar #main {
        right: 80%;
    }
}

@media only screen and (max-width:520px) {
    #sidebar {
        width: 90%;
    }
    body.show-sidebar #main {
        right: 90%;
    }
}



@media only screen and (max-width:1023px) {
    .text_header {
        color:#475569!important
    }
}



/* HEADER NAV */
/* nav {
  z-index: 100;
}
nav:after {
  content: '';
  clear: both;
  display: table;
}

nav ul {
  float:right;
  list-style: none;
  position: relative;
}

nav ul li {
  display: inline-block;
  position: relative;
  margin:0 -2px
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 4px 34px;
  display: block;
}

nav ul ul {
  z-index: 1000;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  margin-top:5px
}
nav ul ul li a {
  color:#131313;
  padding: 10px 32px;
  box-sizing: border-box;
}

nav ul li:hover > ul {
  opacity: 1;
  visibility: visible;
}

nav ul ul li {
  position: relative;
  margin: 0;
  float: none;
  display: list-item;
}

nav .show, nav input[type="checkbox"] {
  display: none;
}


@media all and (max-width:768px) {
  nav ul li, nav ul ul li {
    display: block;
    width: 100%;
  }
  
  nav ul ul {
    position:static;
    width: 100%;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav .show {
    display: block;
  }

  nav .show + a, nav ul {
    display: none;
  }

  [id^=btn]:checked + nav ul {
    display: block;
  }

} */




 nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  z-index: 30;
}
 nav .navbar{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.navbar .logo a{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
 nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
 nav .navbar .links{
  display: flex;
}
 nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 24px;
}
 nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  /* color: #fff; */
  font-weight: 500;
}
 nav .navbar .links li a:hover {
  color:rgb(251 191 36)
}

 nav .navbar .links li .arrow{
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  transition: all 0.3s ease;
}
 nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 2;
  border-radius: 0 0 6px 6px;
}
 nav .navbar .links li:hover .games-sub-menu,
 nav .navbar .links li:hover .services-sub-menu,
 nav .navbar .links li:hover .about-sub-menu,
 nav .navbar .links li:hover .languages-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #232323;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}

.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .search-box{
  position: relative;
  height: 71px;
  /* width: 40px; */
}
.navbar .search-box i{
  /* position: absolute; */
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}
.navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: rgb(251 191 36);
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: rgb(251 191 36);
}
.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: rgb(251 191 36);
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
@media (max-width:1024px) {
   nav {
    position:static;
    background-color: #fff;
  }
   nav .navbar{
    max-width: 100%;
    padding: 0 0 0 25px;
  }

   nav .navbar .logo a{
    font-size: 27px;
  }
   nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
   nav .navbar .links li a{
    font-size: 15px;
  }
   nav .navbar .links li a:hover{ 
    color:rgb(251 191 36)
  }
}
@media (max-width:1024px){
  
  .navbar .bx-menu{
    display: block;
  }
   nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
    background-color: #fff;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #fff;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
   nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
   nav .navbar .links li .arrow{
    line-height: 40px;
  }
 nav .navbar .links li{
    display: block;
  }
 nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
 nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    display: flex;
    align-items: center;
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
   nav .navbar .links li:hover .games-sub-menu,
   nav .navbar .links li:hover .services-sub-menu,
   nav .navbar .links li:hover .about-sub-menu,
   nav .navbar .links li:hover .languages-sub-menu{
    display: none;
  }
  .navbar .nav-links.show1 .links .games-sub-menu,
  .navbar .nav-links.show2 .links .services-sub-menu,
  .navbar .nav-links.show3 .links .about-sub-menu,
  .navbar .nav-links.show4 .links .languages-sub-menu,
  .navbar .nav-links.show5 .links .more .more-sub-menu{
      display: block;
  }

   nav .navbar .links li a {
    color:rgb(71 85 105)
  }
}
@media (max-width:370px){
   nav .navbar .nav-links{
  max-width: 100%;
} 
}
